<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tags" value="Algorithm,Networks,Graphics"/>
    <add key="url" value="http://citeseer.ist.psu.edu/search?q="/> <!-- What site do you want to crawl? -->
    <add key="numPages" value="2"/>
    <add key="downloadPath" value="C:\\wamp\\www\\SE\\"/>
    <add key="infoFile" value ="info.txt"/>
    <add key="authority" value="citeseer.ist.psu.edu"/> <!-- The authority is the server dns hostname or ip address. -->
  </appSettings>
</configuration>